gradio==3.16.2
albumentations==1.3.0
opencv-contrib-python==4.7.0.72
imageio==2.31.3
imageio-ffmpeg==0.4.2
pytorch-lightning==2.0.8
omegaconf==2.3.0
test-tube>=0.7.5
streamlit==1.12.1
einops==0.3.0
diffusers==0.21.3
transformers==4.33.1
accelerate==0.22.0
webdataset==0.2.5
kornia==0.6
open_clip_torch==2.0.2
invisible-watermark>=0.1.5
streamlit-drawable-canvas==0.8.0
torchmetrics==1.1.1
timm==0.6.12
addict==2.4.0
yapf==0.32.0
prettytable==3.6.0
safetensors==0.3.3
basicsr==1.4.2
face-alignment==1.3.5
chumpy==0.70
xatlas==0.0.8
pytest==7.3.2
boto3==1.21.0
PyMCubes
pymeshlab
trimesh
git+https://github.com/NVlabs/nvdiffrast.git#egg=nvdiffrast
tensorboardX
torch_ema
pysdf
h5py
setuptools
distlib
git+https://github.com/ashawkey/envlight.git#egg=envlight
libigl
jaxtyping
controlnet_aux
wandb
bitsandbytes
SentencePiece
git+https://github.com/KAIR-BAIR/nerfacc.git@v0.5.2#egg=nerfacc